@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fafafa;
}

#root {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

main {
  background-image: url('./assets/bg-main-desktop.png');
  background-repeat: no-repeat;
  display: flex;
  min-height: 80vh;
  border-radius: 1rem;
  border: 2px solid #ececec;
  box-shadow: 2px 2px 2px 1px rgba(225, 225, 225, 0.2);
  min-width: 80vw;
}

.hero-section {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 400px;
}

.submit-section {
  align-items: center;
}

.submit-section h2 {
  text-transform: uppercase;
  font-size: 2.3rem;
}

.submit-section p {
  color: #8a8989;
  font-size: 1.4rem;
  letter-spacing: 1.1px;
}

.submit-section button {
  width: 90%;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

input {
  margin-top: 0.5rem;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
}

.inputs-date {
  display: flex;
  gap: 1rem;
}

.input-date {
  width: 80px;
}

input:active,
input:focus,
input:focus-visible {
  border-color: hsl(249, 99%, 64%);
  outline: none;
}

input::placeholder {
  letter-spacing: 0.1rem;
  color: #8a8989;
}

input:invalid {
  border: 1px solid #e3676a;
}

.form-horizontal {
  display: flex;
  align-items: end;
  gap: 1rem;
}

button {
  padding: 1rem;
  background-color: hsl(278, 68%, 11%);
  border: none;
  border-radius: 7px;
  color: #fafafa;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin-top: 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-section {
  display: flex;
  flex: 1;
  height: 100%;
  position: relative;
  background-color: transparent;
}

.card {
  height: 200px;
  width: 365px;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  text-transform: uppercase;
  position: absolute;
}

.card-front {
  background-image: url('./assets/bg-card-front.png');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  left: 30%;
  top: 160px;
}

.card-front header {
  margin-bottom: 2rem;
}

.card-front p {
  font-size: 1.8rem;
}

.card-front footer {
  display: flex;
  justify-content: space-between;
}

.card-back {
  background-image: url('./assets/bg-card-back.png');
  left: 39%;
  bottom: 160px;
}

.card-back p {
  position: absolute;
  top: 90px;
  right: 50px;
  font-size: 1.1rem;
}

.logo-completed {
  height: 80px;
  width: 80px;
}

.spinner {
  border: 4px solid white;
  border-left-color: transparent;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*
 HERE STARTS MEDIA QUERIES 
 */

@media (max-width: 900px) {
  main {
    flex-direction: column;
    background-image: none;
  }

  .cards-section {
    background-image: url('./assets/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% 80%;
  }
}
